<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Pessoa</title>
</head>
<body>
<h1>Cadastro de Pessoa</h1>

<form th:action="@{/pessoas}" th:object="${pessoa}" method="post">
    <input type="hidden" th:field="*{id}">
    <p>Nome: <input type="text" th:field="*{nome}"></p>
    <p>Email: <input type="text" th:field="*{email}"></p>
    <p><button type="submit">Salvar</button></p>
</form>

<a th:href="@{/pessoas}">Voltar</a>
</body>
</html>
